{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salidas Registradas</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tiposalida</th>
                <th>Referencia</th>
                <th>Autorizacion</th>
                <th>Encargado</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salida in salidas %}
            <tr>
                <td><a href="{{ path('salida_show', { 'id': salida.id }) }}">{{ salida.id }}</a></td>
                <td>{{ salida.tipoSalida }}</td>
                <td>{{ salida.referencia }}</td>
                <td>{{ salida.autorizacion }}</td>
                <td>{{ salida.encargado }}</td>
                <td>{% if salida.fecha %}{{ salida.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('salida_show', { 'id': salida.id }) }}">Mas información</a>
                        </li>
                        <li>
                            <a href="{{ path('salida_edit', { 'id': salida.id }) }}">Editar salida</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salida_new') }}">Nueva salida</a>
        </li>
        <li>
            <a href="{{ path('homepage') }}">Menu principal</a>
        </li>
        <li>
            <a href="{{ path('mostrarSalida') }}">Reporte Salida</a>
        </li>

    </ul>
{% endblock %}
