{% extends 'base.html.twig' %}

{% block body %}
    <h1>Entradas Registradas</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipoentrada</th>
                <th>Referencia</th>
                <th>Autorizacion</th>
                <th>Encargado</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entrada in entradas %}
            <tr>
                <td><a href="{{ path('entrada_show', { 'id': entrada.id }) }}">{{ entrada.id }}</a></td>
                <td>{{ entrada.tipoEntrada }}</td>
                <td>{{ entrada.referencia }}</td>
                <td>{{ entrada.autorizacion }}</td>
                <td>{{ entrada.encargado }}</td>
                <td>{% if entrada.fecha %}{{ entrada.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('entrada_show', { 'id': entrada.id }) }}">Mas información</a>
                        </li>
                        <li>
                            <a href="{{ path('entrada_edit', { 'id': entrada.id }) }}">Editar registro</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('entrada_new') }}">Nueva entrada</a>
        </li>
        <li>
            <a href="{{ path('homepage') }}">Menu principal</a>
        </li>
    </ul>
{% endblock %}
